.body{
  display: flex;
}
    /* go back home button */
  .next {
    position: absolute;
    top: 5%;       /* it raises "seen all" high, the lesser the % 
    the higher it goes*/
    left: 70%;     /* it shifts "seen all" towards the right handside*/
    font-size: 20px;   /* it increases the size of "seen all"*/
    /*outline: none; */    /* it removes underline under "seen all"*/
  }
  

  .home{
    color: black;
    outline: none;
    /*top: 3%;*/
    /*left: 75%;*/
    margin-left: 120px;
    list-style: none;
    color: gray;
   /* margin-bottom: 50px;*/
  }

  .next-home {
    color: black;
    outline: none;
    /*left: 50%;*/
    margin-left: 10px;
    list-style: none;
    margin-bottom: 50px;
    color: grey;
    cursor: pointer;
    /*botton:20%;*/
    /*outline: auto;*/
  }
/*Assignment container is here*/

.assignment-container{
  background-color: #fff;
  margin-top: 10px;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px;
  border-radius: 10px;
  margin-top: 15px;
  /*cursor: pointer;*/
  /*justify-content: space-between;*/

}


.assignment-container h1{
font-size: 18px;
padding-bottom: -10px;

}


.assignment-flex{
  display: flex; 
}


.assignment-subject3{
  flex: 2;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 3px 10px 0 rgb(217, 208, 208);
  height: 90px;
  align-items: center;
  border-radius: 10px;
  border-left: 3px solid rgb(209, 120, 120);
  /*margin-bottom: 50px;*/
  margin-top: 20px;
  
  
}

.assignment-subject1{
  flex: 2;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 3px 10px 0 rgb(217, 208, 208);
  height: 90px;
  align-items: center;
  border-radius: 10px;
  border-left: 3px solid rgb(182, 142, 182);
  /*margin-top: 20px;*/
  margin-bottom: 20px;
  
}

.assignment-subject2{
  flex: 2;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 3px 10px 0 rgb(217, 208, 208);
  height: 90px;
  align-items: center;
  border-radius: 10px;
  border-left: 3px solid #a3a2a5;
  
}


.courses h3{
  font-size: 15px;
  padding: 5px;
  color: #0c012f;
  font-weight: bold;
}

.topic{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  color: rgb(180, 180, 180);
}

.topic1{
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  color: rgb(180, 180, 180);
}

.btn-btn{
  background-color: rgb(233, 224, 233);
  padding: 7px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: purple;
}

.btn-btn1{
  background-color: rgb(228, 215, 215);
  padding: 7px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: brown;
}

